.footer {

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  &__social {


  }
  &__list {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    @include font(normal, 13px, 18px);
    text-decoration: underline;
    text-decoration-color: rgba(white, .2);
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-120%,-50%);
  }
  &__copyright {
    @include font(normal, 12px, 18px);
  }
  &__copyright-image {
    width: 100px;
    &--indent {
      margin-bottom: 10px;
    }
  }
  &--indent {
    padding: 25px 0;
  }
}