//@import "buttons";

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin font ($a, $b) {
  font-size: $a;
  line-height: $b;
}

@mixin square-size ($wh) {
  width: $wh;
  height: $wh;
}