// Your variable overrides
//$body-bg: black;
//$body-color: green;

$grid-columns:                24 !default;
$grid-gutter-width:           30px !default;

$spacer: 2px;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
(
    0: 0,
    2: $spacer,
    4: ($spacer * 2),
    6: ($spacer * 2),
    8: ($spacer * 4),
    10: ($spacer * 5),
    12: ($spacer * 6),
    14: ($spacer * 7),
    16: ($spacer * 8),
    18: ($spacer * 9),
    20: ($spacer * 10)
),
$spacers
);

$primary:      #ebcb80;
$secondary:      #d1b471;
$dark:           #7d7d7d;
$darker:         #4b4b4b;
$light:          #e6e6e6;
$lighter:         #f6f6f6;
$success:        #7feb7f;
$danger:         #eb7f7f;

$theme-colors: () !default;

$theme-colors: map-merge(
(
      "primary":     $primary,
      "secondary":   $secondary,
      "$dark":       $dark,
      "$darker":     $darker,
      "$light":      $light,
      "$lighter":    $lighter,
      "$success":    $success,
      "$danger":     $danger
),
$theme-colors
);

@import "../../node_modules/bootstrap/scss/bootstrap";